<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/styles/addToDo.css}">
</head>
<body>
<main>
  <form>
    <h1>Create a Note</h1>
    <label for="name">Name</label><br>
    <input type="text" id="name"><br>
    <label for="content">Content</label><br>
    <textarea id="content"></textarea><br>
    <label for="type">Type</label><br>
    <select id="type">
      <option value="shopping">Shopping List</option>
      <option value="house">House Chores</option>
      <option value="friends">Friends Tasks</option>
      <option value="job">Job Tasks</option>
    </select><br>
    <button type="submit">Save</button>
  </form>
</main>
<script th:src="@{scripts/addTodo.js}"></script>
</body>
</html>