<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do Application</title>
    <link rel="stylesheet" th:href="@{/styles/index.css}">
</head>
<body>
    <header>
        <button id="allButton">All Tasks</button>
        <button id="shoppingButton">Shopping List</button>
        <button id="houseButton">House Chores</button>
        <button id="friendsButton">Friends</button>
        <button id="jobButton">Job Tasks</button>
    </header>
    <main>
    </main>
    <script th:src="@{/scripts/index.js}"></script>
</body>
</html>